body{
    background: #f4f4f4;
}
.bkimg img{
    width: 70%;
    height: 90%;
    margin-top: 20px;
    position: absolute;
}

.login{
    width: 30%;
    height: 80%;
    margin-top: 3%;
    border: 3px solid #00BFA6;
    border-radius: 100px;
    margin-left: 65%;
    margin-right: 50px;
    position: absolute;
}
h1{
    color: #00BFA6;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.profile img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.inputall{
    margin-top: 40px;
}

.input{
    margin: 30px 0 0 20px;
    display: flex;
    width: 100%;
    font-size: 50px;
}
.input input{
    width: 50%;
    height: 50px;
    margin: 0 20px;
    border: 1px solid #00BFA6;
    border-radius: 60px;
    font-size: 25px;
    padding: 10px;
    outline: none;
}
.input h4{
    color: #00BFA6;
    width: 150px;
    font-size: 38px;
    text-align: right;
    margin: auto 0px;
    font-weight: lighter;
}
.forgotpass{
    text-align: right;
    font-size: 15px;
    margin-right: 100px;
    cursor: pointer;
    color: #00BFA6;
}
.loginbtn input{
    width: 30%;
    height: 50px;
    margin: 50px auto 0;
    display: block;
    color: #00BFA6;
    border: 1px solid #00BFA6;
    border-radius: 60px;
    font-size: 25px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}
.signup{
    margin-top: 40px;
    text-align: right;
    margin-right: 100px;
    color: #00BFA6;
    cursor: pointer;
    font-size: 15px;

}
.signup a{
    color: #00BFA6;
    text-decoration: none;
}
.signup a:hover{
    color: rgb(11, 228, 199);
}
.success p{
    position: absolute;
    color: rgb(5, 172, 5);
    width: 70%;
    height: 30px;
    font-size: 25px;
    
}
.error{
    padding: 0;
    margin: 0;
    text-align: right;
    color: rgb(190, 12, 12);
    margin-right: 100px;
}




