.navbar{
    background-color: #00BFA6;
}
.navbar-nav li{
    font-size: 1.6rem;
}
.productpicture img{
    width: 50%;
}
.size input{
    width: 50px;
}
.sizetitle{
    font-size: 30px;
    color: black;
}
