*{
    margin: 0;
    padding: 0;
}

.profpic img{
    border-radius: 50%;
    position: absolute;
    height: 50%;
    width: 25%;
    margin: 200px 0 0 200px;
    cursor: pointer;
    box-shadow: 0 0 30px #00BFA6;
}
.selectimg{
    position: absolute;
    margin: 700px 0 0 300px;
}
.uploadimg button{
    position: absolute;
    margin: 750px 0 0 300px;
    height: 30px;
    width: 100px;
    border-style: none;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    background-color: #00BFA6;
    cursor: pointer;
}

.userinfo{
    height: 70%;
    padding: 20 0 30 0;
    width: 30%;
    position: absolute;
    border: 5px solid #00BFA6;
    border-radius: 60px;
    margin: 170px 0 0 60%;
}
.input{
    margin: 30px 0 0 20px;
    display: flex;
    width: 100%;
}
.input input{
    width: 60%;
    height: 50px;
    margin: 0 20px;
    border: 1px solid #00BFA6;
    border-radius: 60px;
    padding: 10px;
    outline: none;
    font-size: 25px;
}
.input h4{
    color: #00BFA6;
    width: 150px;
    font-size: 25px;
    text-align: right;
    margin: auto 0px;
    font-weight: lighter;
}
.update input{
    width: 30%;
    height: 50px;
    margin: 50px auto 0;
    display: block;
    color: #00BFA6;
    border: 1px solid #00BFA6;
    border-radius: 60px;
    font-size: 25px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}
.input .error{
    color: rgb(236, 9, 9);
    position: absolute;
    margin-top: 50px;
    margin-left: 90%;
    text-align: left;
}
.imageError{
    position: absolute;
    color: red;
    font-size: 20px;
    margin-top: 800px;
    margin-left: 300px;
}
.imageSucc{
    position: absolute;
    color: rgb(29, 177, 29);
    font-size: 20px;
    margin-top: 150px;
    margin-left: 10px;
}